<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container mt-3">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h4>TEST : Present your <br>
                awesome product</h4>
              <p>TEST : Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">TEST</a> </div>
            <div class="col-md-5 col-12 order-md-2 order-1"><img src="../../assets/images/kozak.jpg" class="mx-auto" alt="slide"></div>
          </div>
        </div>
      </div>
    </div>
