<div class="card" *ngIf="contact">
  <form #contactForm="ngForm" (submit)="updateContact()">
    <div class="card-header text-center">İletişim Bilgileri Güncelleme</div>
    <div class="container">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <label for="">E-mail adresi :</label>
          </div>
          <div class="col-md-8">
            <input
              type="email"
              [value]="contact.email"
              name="email"
              [(ngModel)]="contact.email"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for=""
              ><i class="fa fa-instagram" aria-hidden="true"></i> Instagram
              :</label
            >
          </div>
          <div class="col-md-8">
            <input
              type="text"
              name="instagram"
              [(ngModel)]="contact.instagram"
              [value]="contact.instagram"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for=""
              ><i class="fa fa-facebook" aria-hidden="true"></i> Facebook
              :</label
            >
          </div>
          <div class="col-md-8">
            <input
              type="text"
              name="facebook"
              [(ngModel)]="contact.facebook"
              [value]="contact.facebook"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for=""
              ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter :</label
            >
          </div>
          <div class="col-md-8">
            <input
              type="text"
              name="twitter"
              [(ngModel)]="contact.twitter"
              [value]="contact.twitter"
            />
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-sm-12 col-md-4 col-md-4">
            <label for=""
              ><i class="fa fa-phone mr-2" aria-hidden="true"
                >Telefon :</i
              ></label
            ><button
              type="button"
              class="btn btn-sm border-success"
              (click)="phoneAdd(newPhone.value); newPhone.value = ''"
            >
              <i class="fa fa-plus">Ekle</i>
            </button>
            <input
              type="tel"
              class="mb-2 mt-2"
              style="color: crimson"
              #newPhone
              (keypress)="keyPressNumbersDecimal($event)"
              placeholder="Yeni Telefon Ekle"
            />
            <br />
          </div>
          <div *ngIf="contact.phones" class="col-md-8">
            <span *ngFor="let item of contact.phones">
              <div class="row">
                <div class="col mb-3">
                  <strong class="border mr-2">{{ item.phone }}</strong>
                </div>
                <div class="col">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="phoneDelete(item)"
                  >
                    <i class="fa fa-trash"></i><br />
                  </button>
                </div>
              </div>
            </span>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-12 col-md-4 col-md-4">
            <label for=""
              ><i class="fa fa-location-arrow mr-2" aria-hidden="true"
                >Adres :</i
              ></label
            ><button
              class="btn btn-sm border-success"
              type="button"
              (click)="addressAdd(newAddress.value); newAddress.value = ''"
            >
              <i class="fa fa-plus">Ekle</i>
            </button>
            <input
              type="text"
              class="mb-2 mt-2"
              style="color: crimson"
              #newAddress
              placeholder="Yeni Adres Ekle"
            />
            <br />
          </div>
          <div *ngIf="contact.addresses" class="col-md-8">
            <span *ngFor="let item of contact.addresses">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <strong class="border mr-2">{{ item.address }}</strong>
                </div>
                <div class="col-md-3">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="addressDelete(item)"
                  >
                    <i class="fa fa-trash"></i><br />
                  </button>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        [disabled]="!contactForm.dirty && !isAddphoneOrAddress"
        class="btn btn-info mr-2"
      >
        Onayla
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="cancelButton()"
      >
        İptal
      </button>
    </div>
  </form>
</div>

<app-loadingpage [loading]="saveProccess"></app-loadingpage>
