<div class="banner-breadcum section mt-3">
  <div class="row">
    <div
      class="breadcrumb-image"
      style="
        background-image: url(http://localhost:5000/Resources/Images/about.jpg);
      "
    >
      <div class="container text-center">
        <h1>HAKKIMIZDA</h1>
        <div class="breadcrumbs_path">
          <p *ngIf="about" class="text-white">
            <span *ngIf="about.message">
              >>{{about.message}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
