<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
  integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
  crossorigin="anonymous"
/>

<div class="row" id="contatti">
  <div class="container mt-5">
    <div class="row" style="height: 550px">
      <div class="col-md-6 maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.9656948408538!2d26.784663514720947!3d39.220944835413675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDEzJzE1LjQiTiAyNsKwNDcnMTIuNyJF!5e0!3m2!1str!2str!4v1619768464853!5m2!1str!2str"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-md-6">
        <h2 class="mt-3 font-weight-bold text-white">İletişim</h2>
        <form action="">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  placeholder="İsim"
                  required
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  placeholder="Soyisim"
                  required
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control mt-2"
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control mt-2"
                  placeholder="Telefon"
                  required
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  placeholder="Mesajınız"
                  rows="3"
                  required
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group"></div>
            </div>
            <div class="col-12">
              <button class="btn btn-light" type="submit">Gönder</button>
            </div>
          </div>
        </form>
        <div class="text-white">
          <h2 class="mt-4 font-weight-bold">Şahin Kereste</h2>

          <!--::::::::::::::::::Telefon:::::::::::::::::::::::-->
          <div *ngIf="contact">
            <div *ngIf="contact.phones">
              <span *ngFor="let item of contact.phones">
                <i class="fas fa-phone mt-3"></i> <a href="tel:+">{{item.phone}}</a
                  ><br
                />
              </span>
            </div>
          </div>
          <!--:::::::::::::::::::E-Mail::::::::::::::::::::::::::::::::::::::-->
          <i class="fa fa-envelope mt-3"></i>
          <a href="" *ngIf="contact">{{ contact.email }}</a
          ><br />
          <!--::::::::::::::::::::::::::::Adres bilgileri::::::::::::::::::::::::::::::::::::::::::::::-->
          <div *ngIf="contact">
            <div *ngIf="contact.addresses">
              <span *ngFor="let item of contact.addresses">
                <i class="fas fa-globe mt-3"></i> {{item.address}} <br />
              </span>
            </div>
          </div>

          <div class="my-4">
            <a *ngIf="contact && contact.facebook" href="{{contact.facebook}}"><i class="fab fa-facebook fa-3x pr-4"></i></a>
            <a *ngIf="contact && contact.instagram" href="{{contact.instagram}}"><i class="fab fa-instagram fa-3x pr-4"></i></a>
            <a href=""><i class="fab fa-twitter fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

  39.22094070445699, 26.786852160918322
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3090.9656948408538!2d26.784663514720947!3d39.220944835413675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDEzJzE1LjQiTiAyNsKwNDcnMTIuNyJF!5e0!3m2!1str!2str!4v1619768464853!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
-->
