
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6" *ngFor="let product of products">
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
         <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{product.name}}</strong>
            <h6 class="mb-0">
               <a class="text-dark" href="#">{{product.category}}</a>
            </h6>
            <div class="mb-1 text-muted small">
              <h3 *ngIf="product.active" style="color:seagreen;">Stokta</h3>
              <h3 *ngIf="!product.active" style="color: red;">Stokta değil</h3>
            </div>
            <p class="card-text mb-auto">{{product.description}}:This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="['/detail/',product.id]" role="button" href="http://www.jquery2dotnet.com/">İncele</a>
         </div>
         <img *ngIf="product.image" class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{product.image.path}}" style="width: 200px; height: 250px;">
      </div>
   </div>

  </div>
</div>

<!--
 <ul *ngFor="let item of products">

  <div *ngIf="item.image">
    <img src="{{item.image.path}}" alt="">
  </div>

</ul>
-->
