<div *ngIf="!loading" class="panel-body col-md-5">
  <h3 class="text-center"><i class="fa fa-lock fa-4x"></i></h3>
  <h2 class="text-center">Şifre değiştir</h2>
  <p>Admin şifresini değiştirebilirsiniz</p>

  <form #formPass="ngForm" (submit)="updatePassword(adminPass); formPass.reset();">
    <div class="form-group">
      <div class="input-group my-2">
        <label for="password">Eski şifreniz:</label>
        <input
          type="password"
          #password="ngModel"
          name="password"
          required
          minlength="6"
          [(ngModel)]="adminPass.password"
        />
        <div *ngIf="!password.valid && password.touched" class="alert alert-danger" role="alert">
          <p *ngIf="password.errors && password.errors.required">
            * Eski şifrenizi girmeniz zorunludur
          </p>
          <p *ngIf="password.errors && password.errors.minlength">
            * Şifrenizi en az 6 karakterden oluşmalıdır.
          </p>
        </div>
      </div>
      <div class="input-group my-2">
        <label for="newpassword">Yeni şifreniz:</label>
        <input
          type="password"
          #newpassword="ngModel"
          name="newpassword"
          required
          minlength="6"
          [(ngModel)]="adminPass.newpassword"
        />
        <div *ngIf="!newpassword.valid && newpassword.touched" class="alert alert-danger" role="alert">
          <p *ngIf="newpassword.errors && newpassword.errors.required">
            * Yeni şifrenizi girmeniz zorunludur
          </p>
          <p *ngIf="newpassword.errors && newpassword.errors.minlength">
            * Şifrenizi en az 6 karakterden oluşmalıdır.
          </p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button
        [disabled]="!formPass.valid"
        class="btn btn-success"
        type="submit"
      >
        Değiştir
      </button>
    </div>


  </form>
</div>

<app-loadingpage [loading]="loading"></app-loadingpage>
