<div *ngIf="gettingProduct" class="card" style="width: 18rem">
  <img
    *ngIf="gettingProduct.image && gettingProduct.image.path!=''"
    src="{{gettingProduct.image.path}}"
    width="300"
    height="300"
    class="card-img-top"
    alt="..."
  />
  <img
    *ngIf="gettingProduct.image && gettingProduct.image.path==''"
    src="https://via.placeholder.com/150"
    width="300"
    height="300"
    class="card-img-top"

  />
  <div class="card-body">
    <p class="card-text">
      <input
        type="file"
        #file
        placeholder="resim seç"
        (change)="UploadFile(file.files)"
      />
    </p>
    <p *ngIf="gettingProduct.image">image path : {{gettingProduct.image.path}}</p>
  </div>
</div>
<app-loadingpage [loading]="loading"></app-loadingpage>
