<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container row mt-5">
	<div class='sidenav col-3' id='navBar'>
	    <div class='list-group'>
	        <div  [routerLink]="[{outlets:{dashboard:['dashboard-product']}}]" class='list-group-item   list-group-item-action' data-toggle="list" role="tab">Ürünler</div>
	        <div  [routerLink]="[{outlets:{dashboard:['dashboard-contact']}}]" class='list-group-item list-group-item-action' data-toggle="list" role="tab">İletişim bilgileri</div>
	        <div  [routerLink]="[{outlets:{dashboard:['dashboard-info']}}]" class='list-group-item list-group-item-action' data-toggle="list" role="tab">Hakkımızda</div>
	        <div  class='list-group-item list-group-item-action' data-toggle="list" role="tab">In-Progress</div>
	        <div  [routerLink]="[{outlets:{dashboard:['dashboard-admin-settings']}}]" routerLinkActive="router-link-active"  class='list-group-item list-group-item-action' data-toggle="list" role="tab">Yönetici Ayarları <i class="fa fa-cog"></i></div>
	    </div>
	</div>
	<div class='col-9' id='main'>

    <router-outlet name="dashboard"></router-outlet>
	</div>
</div>

